body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 0.98;
}
h1 {
  padding-left: 1rem;
}

.products {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rating span {
  color: #ffc000;
}
.product {
  margin: 1rem;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.product img {
  max-width: 250px;
  height: 250px;
  width: 200px;
}
.product_info {
  padding: 1rem;
  font-size: 14px;
}
#reviews {
  display: flex;
  gap: 25px;
}
